@inherits LayoutComponentBase
<style>
    .sidebar[b-aecznetsmu] {
        background-color: #1c57b9 !important;
    }
</style>
<div class="page">
    <div class="sidebar" style="background-image:none;background-color: #1c57b9; z-index: 99999!important">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4" style="background-color: #1c57b9">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
